body {
  background-color: black;
  font-family: "Myriad Pro", sans-serif;
  color: white;
  width: auto
}

h1 {
  color: whitesmoke;
  font-size: 24px;
  font-weight: normal;
  background-color: transparent;
  background-image: none;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

.headermenu {
  font-size: 18px;
  text-decoration-line: none;
  font-weight: normal;
  text-align: center;
  margin-top: auto;

}

.welcome {
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  text-shadow: 1px 2px black;
  color: whitesmoke;
  background-size: auto;
  background-image: url("Nelsoneer.github.io/resources/images/Oct072012_5758.jpg")
}
