body {
  background-color: black;
  font-family: "Myriad Pro", sans-serif;
  color: white;
  width: auto
}

h1 {
  color: whitesmoke;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  background-color: dimgray;
  background-image: none;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

.headermenu {
  font-size: 24px;
  text-decoration-line: none;
  font-weight: normal;
  text-align: center;
}

.welcome {
  font-weight: normal;
  font-size: 100px;
  text-align: center;
  text-shadow: 1px 2px black;
  text-decoration: underline firebrick;
  text-decoration-style: solid;
  color: whitesmoke;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url("/Users/CMO/Desktop/projects/ProjectsHomepage/Nelsoneer.github.io/Abstract GlowCLR_1920x1200.jpg")
}

.resume,
.contact,
.portfolio {
  font-weight: normal;
  text-align: center;
  text-shadow: 1px 2px black;
  color: whitesmoke;
  background-color: dimgray;
  background-size: cover;
}
